<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-lawen opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="row align-items-center">
        <div class="col-12">
          <h1 class="display-1" style="color: white;">List File Materi</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-12">
              <button class="btn btn-icon btn-3 btn-primary" type="button" (click)="getBack()">
                <span class="btn-inner--icon"><i class="ni ni-bold-left"></i></span>
                <span class="btn-inner--text">Kembali</span>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body bg-card">
            <div class="pl-lg-12">
              <div class="row">
                <div class="col">
                <p-tabView>
                  <p-tabPanel header="Materi" leftIcon="ni ni-archive-2 text-dark">
                    <div class="col s12 m12 l12">
                      <div class=" dataTables_wrapper "> 
                        <div *ngIf="!spinner2 ; else showSpinner" class="table-responsive">
                          <table class="row-border hover dataTable no-footer">
                            <thead>
                              <tr style="color: black;" class="bg-th">
                                <th scope="col">Topic</th>
                                <th scope="col">Judul</th>
                                <th scope="col"></th>
                                <th scope="col"></th>  
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let data of dataFile">
                                <td>{{data.topic}}</td>
                                <td>{{data.title}}</td>             
                                <td class="text-center">
                                  <p-splitButton *ngIf="!spinner" label="Download" icon="pi pi-download" (onClick)="getsMateri(data)" [model]="getMenu(data.file_id)"></p-splitButton>
                                  <div *ngIf="spinner">
                                    <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                    <ng-template #showSpinner>
                      <div class="text-center">
                      <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
                    </div>
                    </ng-template>
                  </div>
                </div>
                  </p-tabPanel>
                  <p-tabPanel header="Forum" leftIcon="pi pi-comments">
                    <div class="col s12 m12 l12">
                      <div class=" dataTables_wrapper ">
                    <div class="comment-wrapper">
                      <div class="panel panel-info">
                        <div class="panel-body">
                          <br>
                          <textarea rows="5" cols="123" pInputTextarea [(ngModel)]="forum.isiPesan" (keydown.enter)="setForum()" placeholder="Apa yang anda pikirkan..."></textarea>
                          <div class="clearfix"></div>
                          <br>
                          <button type="button" class="btn btn-primary" (click)="setForum()">Post</button>
                          <hr class="my-4">
                          <ul class="media-list" *ngFor="let forum of forums">
                            <li class="media" >
                            <div class="media-body">
                                <span class="text-muted pull-right">
                                    <small class="text-muted">{{forum.send_Date}}</small>
                                </span>
                                <strong class="text-success">{{forum.sender}}</strong>
                                <p>
                                    {{forum.chat_content}}
                                </p>
                            </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                    </p-tabPanel>
                  </p-tabView> 
      </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
