body{margin-top:20px;}

.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}

.pull-right{
    float: right !important;
    margin-right: 50px;
}

.bg-lawen{
    background-color: #3057C3;
}

.bg-th{
    background-color: #E4E4E4;
}
.bg-card{
    background-color: white;
}

.bg-border-input{
   outline-color: black;
}

.form-input
{
    font-size: 1rem;
    line-height: 1.5;

    display: block;

    width: 100%;
    height: calc(2.75rem + 2px);
    padding: .625rem .75rem;

    transition: all .2s cubic-bezier(.68, -.55, .265, 1.55); 

    color: black;
    border: 1px solid black;
    border-radius: .375rem;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: none;
}