<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-lawen opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="row align-items-center">
        <div class="col-12">
          <h1 class="display-1" style="color: white;">Upload Kuis / Ujian</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-card shadow">
        <div class="card-header bg-card border-0">
          <div class="row align-items-center">
            <!-- <div class="col-12">
              <h3 class="mb-0">Upload Ujian</h3>
            </div> -->
          </div>
        </div>
        <div class="card-body bg-card">
          <!-- <div class="shadow"> -->
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-6">
                  <label>Nama File</label>
                  <input type="text" class="form-input " id="judul" [(ngModel)]="ujian.judul_file" [disabled]="spinner">
              </div>
              <div class="col-md-6">
                <label>Judul Tugas</label>
                <input type="text" class="form-input " id="judul" [(ngModel)]="ujian.judul_tugas" [disabled]="spinner">
              </div>
              <div class="col-md-6">
                <br>
                <label>Pilih Materi</label><br>
                <p-dropdown [disabled]="spinner" class="" placeholder="Pilih Materi" [options]="cities2" [(ngModel)]="selectedCity1" optionLabel="name" [showClear]="true" (ngModelChange)="getKelasList(selectedCity1)"></p-dropdown>
              </div>
              <div class="col-md-6">
                <br>
                <label>Pilih Kelas</label><br>
                <p-dropdown [disabled]="spinner" class="" placeholder="Pilih Kelas" [options]="kelas" [(ngModel)]="setKelas" optionLabel="name" [showClear]="true"></p-dropdown>
              </div>
              <div class="col-md-6">
                <br>
                  <label>Start Date</label>
                  <input [disabled]="spinner" type="date" class="form-input" id="start-date" [(ngModel)]="ujian.start_date" required pattern="\d{2}-\d{2}-\d{4}">            
              </div>
              <div class="col-md-6">
                <br>
                  <label>End Date</label> 
                  <input [disabled]="spinner" type="date" class="form-input" id="end-date" [(ngModel)]="ujian.end_date" required pattern="\d{2}-\d{2}-\d{4}" [disabled]="exampleFlag">
              </div>
              <div class="col-md-12">
                <br>
                <label>Pilih Jenis Ujian :</label>
                  <div class="custom-control custom-radio mb-3">
                    <p-radioButton  [disabled]="spinner" value="TUGAS" label="Quiz" [(ngModel)]="ujian.jenis" inputId="TUGAS"></p-radioButton>
                  </div>
                  <div class="custom-control custom-radio mb-3">
                    <p-radioButton [disabled]="spinner"  value="UJIAN" label="Ujian" [(ngModel)]="ujian.jenis" inputId="UJIAN" ></p-radioButton>
                  </div>    
              </div>
              <div class="col-md-6">
                <br>
                <label>Waktu Mulai</label>
                <input [disabled]="spinner" type="time" class="form-input" [(ngModel)]="ujian.startTime">
              </div>
              <div class="col-md-6">
                <br>
                <label>Waktu Selesai</label>
                <input [disabled]="spinner" type="time" class="form-input" [(ngModel)]="ujian.endTime">
              </div>
              <div class="col-md-12">
                  <label>File</label>
                  <input type="file" class="form-input" id="upload" (change)="selectFile($event)" [(ngModel)]="ujian.file">
              </div>
              <div class="col-md-12">
              <br>
              <button type="button" class="btn btn-primary" (click)="uploadUjian()">Upload</button>
            </div>
            <div *ngIf="spinner" class="col-md-12">  
              <br>
              <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
            </div>  
              <div class="col-sm-12" [hidden]="!isupdated">  
                <p-messages [(value)]="msgs"></p-messages>  
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
