<!-- <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog> -->
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-lawen opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="row align-items-center">
        <div class="col-12">
          <h1 class="display-1" style="color: white;">List File Kuis / Ujian</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-card shadow">
        <div class="card-header bg-card border-0">
          <div class="row align-items-center">
            <div class="col-12">
              <button class="btn btn-icon btn-3 btn-primary" type="button" (click)="getBack()">
                <span class="btn-inner--icon"><i class="ni ni-bold-left"></i></span>
                <span class="btn-inner--text">Kembali</span>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body bg-card">
            <div class="pl-lg-12">
              <div class="row">
                <div class="col">
                <p-tabView>
                  <p-tabPanel header="Materi" leftIcon="pi pi-calendar">
                    <div class="col-md-12">
                      <label>Judul Tugas</label>
                      <input type="text" class="form-input" id="judul" [(ngModel)]="ujian.judul_file">
                    </div>
                    <div class="col-md-12">
                        <label>File</label>
                        <input type="file" class="form-input" id="upload" (change)="selectFile($event)" [(ngModel)]="ujian.file">
                    </div>
                    <div class="col-md-12">
                    <br>
                    <button type="button" class="btn btn-primary" (click)="getUpdateDetail(ujian)">Upload</button>
                    </div>
                    <div class="col-sm-12" [hidden]="!isupdated">  
                      <p-messages [(value)]="msgs"></p-messages>  
                    </div>
                    </p-tabPanel>
                  </p-tabView> 
        </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
