<!-- <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog> -->
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-lawen opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="row align-items-center">
        <div class="col-12">
          <h1 class="display-1" style="color: white;">{{title}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-card shadow">
        <div class="card-header bg-card border-0">
          <div class="row align-items-center">
            <div class="col-12">
              <button class="btn btn-icon btn-3 btn-primary" type="button" (click)="getBack()">
                <span class="btn-inner--icon"><i class="ni ni-bold-left"></i></span>
                <span class="btn-inner--text">Kembali</span>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body bg-card">
            <div class="pl-lg-12">
              <div class="row">
                <div class="col">
                <p-tabView>
                  <p-tabPanel header="Materi" leftIcon="pi pi-calendar">
                    <div class="table-responsive">
                      <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                          <tr style="color: black;" class="bg-th">
                            <th scope="col">Materi</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let file of dataMateri">
                            <td>{{ file.title }}</td>
                            <td class="text-center">
                              <button class="btn btn-icon btn-3 btn-primary" type="button">
                                <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                                <span class="btn-inner--text" (click)="gets(file)">Download</span>
                                </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </p-tabPanel>
                  <p-tabPanel header="Forum" leftIcon="pi pi-inbox">
                    <div class="comment-wrapper">
                      <div class="panel panel-info">
                        <div class="panel-body">
                          <br>
                          <textarea rows="5" cols="123" placeholder="Apa yang anda pikirkan..." pInputTextarea [(ngModel)]="forum.isiPesan" (keydown.enter)="setForum()"></textarea>
                          <div class="clearfix"></div>
                          <br>
                          <button type="button" class="btn btn-primary" (click)="setForum()">Post</button>
                          
                          <hr>
                    <ul class="media-list" *ngFor="let forum of forums">
                        <li class="media" >
                          <!-- <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                            <i>A</i>
                          </div>   -->
                          <div class="media-body">
                            <span class="text-muted pull-right">
                                <small class="text-muted">{{forum.send_Date | date : 'dd-MM-yyyy'}}</small>
                            </span>
                            <strong class="text-success">{{forum.sender}}</strong>
                            <p>
                                {{forum.chat_content}}
                            </p>
                        </div>
                        </li>
                    </ul>
                    </div>
                  </div>
                  </div>
        </p-tabPanel>
                  </p-tabView> 
      </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
