/* :host ::ng-deep button {
    margin-right: .25em;
}

:host ::ng-deep .custom-toast .ui-toast-message {
    background: #FC466B;
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
    background: linear-gradient(to right, #3F5EFB, #FC466B);
}

:host ::ng-deep .custom-toast .ui-toast-message div {
    color: #ffffff;
}

:host ::ng-deep .custom-toast .ui-toast-message.ui-toast-message-info .ui-toast-close-icon {
    color: #ffffff;
}
.ui-button {
    cursor: pointer;
    text-align: center;
}
.ui-g {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
} */
.bg-lawen{
    background-color: #3057C3;
}

.bg-th{
    background-color: #E4E4E4;
}