<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      
    </div>
  </div>
</div>
<!-- Page content -->

<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Upload Jawaban</h3>
        </div>
    <div class="col-md-12">
      <!-- <label>File</label> -->
      <input type="file" class="form-control form-control-alternative" id="upload" (change)="selectFile($event)" [(ngModel)]="jawab.file">
  </div>
  <div class="col-md-12">
    <br>
    <button type="button" class="btn btn-default" (click)="setUpload()">Upload</button>
    <br><br>
  </div>

<p-tabView>
        <p-tabPanel header="Materi" leftIcon="pi pi-calendar">
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Materi</th>
                  <th scope="col">End Date</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let file of dataKuis">
                  <td>{{ file.judul }}</td>
                  <td>{{ file.waktu }}</td>
                  <td class="text-center">
                    <button class="btn btn-icon btn-3 btn-primary" type="button">
                        <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                        <span class="btn-inner--text" (click)="gets(file)">Download</span>
                      </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Forum" leftIcon="pi pi-inbox">
          <div class="comment-wrapper">
            <div class="panel panel-info">
              <div class="panel-body">
          <textarea rows="5" cols="130" pInputTextarea [(ngModel)]="forum.isiPesan" (keydown.enter)="setForum()"></textarea>
          <hr>
          <div class="clearfix"></div>
          <ul class="media-list" *ngFor="let forum of forums">
              <li class="media" >
                <!-- <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                  <i>A</i>
                </div>   -->
                <div class="media-body">
                      <span class="text-muted pull-right">
                          <small class="text-muted">{{forum.send_Date}}</small>
                      </span>
                      <strong class="text-success">{{forum.sender}}</strong>
                      <p>
                          {{forum.isi_Chat}}
                      </p>
                  </div>
              </li>
          </ul>
          </div>
        </div>
        </div>
      </p-tabPanel>
    </p-tabView>
</div>
</div>
</div>
</div>