<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-lawen opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="row align-items-center">
        <div class="col-12">
          <h1 class="display-1" style="color: white;">Input Pengajar</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-12">
              <button class="btn btn-icon btn-3 btn-primary" type="button" (click)="getBack()">
                <span class="btn-inner--icon"><i class="ni ni-bold-left"></i></span>
                <span class="btn-inner--text">Kembali</span>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body bg-card">
            <div class="pl-lg-12">
              <div class="row">
                <div class="col">
                  <form>
                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-username">Name</label>
                            <input type="text" id="input-username" class="form-input" placeholder="Nama" [(ngModel)]="materiPengajar.nama" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-username">Username</label>
                            <input type="text" id="input-username" class="form-input" placeholder="Username" [(ngModel)]="materiPengajar.username" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-email">Email address</label>
                            <input type="email" id="input-email" class="form-input" placeholder="pengajar@example.com" [(ngModel)]="materiPengajar.email" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-email">Password</label>
                            <input type="password" id="input-email" class="form-input" placeholder="password" [(ngModel)]="materiPengajar.password" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                        <div class="col-md-12">
                          <br>
                          <button type="button" class="btn btn-primary btn-lg btn-block" (click)="setPengajar()">Submit</button>
                        </div>
                        <div *ngIf="spinner" class="col-md-12">
                          <br>
                          <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
                        </div>
                        <div class="col-sm-12" [hidden]="!isupdated">  
                          <p-messages [(value)]="msgs"></p-messages>  
                        </div>
                        <div class="text-center text-muted mb-2"*ngIf="showMessage">
                          <small>{{message}} </small>
                        </div>                  
                      </div>
                    </div>
                  </form>
      </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
