<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <p-accordion>
            <p-accordionTab header="Week 1" [selected]="true">
              <div class="row">
                <div class="col-md-12">
                  <a routerLink="/upload-materi" [queryParams]="{ day:1, week:1 }" class="ni ni-fat-add">Day 1</a>
                  <!-- <button (click)="input(1,1)">Day 1</button> -->
                </div>
                <div class="col-md-12">
                  <a routerLink="/upload-materi" class="ni ni-fat-add" [queryParams]="{ day:2, week:1 }">Day 2</a>
                </div>
                <div class="col-md-12">
                  <a routerLink="/upload-materi" class="ni ni-fat-add" [queryParams]="{ day:3, week:1 }">Day 3</a>
                </div>
                <div class="col-md-12">
                  <a routerLink="/upload-materi" class="ni ni-fat-add" [queryParams]="{ day:4, week:1 }">Day 4</a>
                </div>
                <div class="col-md-12">
                  <a routerLink="/upload-materi" class="ni ni-fat-add" [queryParams]="{ day:5, week:1 }">Day 5</a>
                </div>
                <div class="col-md-12">
                  <a  class="ni ni-fat-add" >Quiz</a>
                </div>
              </div>
            </p-accordionTab>
            <p-accordionTab header="Week 2">
              <div class="row">
                <div class="col-md-12">
                  <a routerLink="/upload-materi" class="ni ni-fat-add" [queryParams]="{ day:1, week:2 }">Day 1</a>
                </div>
                <div class="col-md-12">
                  <a routerLink="/upload-materi" class="ni ni-fat-add" [queryParams]="{ day:2, week:2 }">Day 2</a>
                </div>
                <div class="col-md-12">
                  <a routerLink="/upload-materi" class="ni ni-fat-add" [queryParams]="{ day:3, week:2 }">Day 3</a>
                </div>
                <div class="col-md-12">
                  <a routerLink="/upload-materi" class="ni ni-fat-add" [queryParams]="{ day:4, week:2 }">Day 4</a>
                </div>
                <div class="col-md-12">
                  <a routerLink="/upload-materi" class="ni ni-fat-add" [queryParams]="{ day:5, week:2 }">Day 5</a>
                </div>
                <div class="col-md-12">
                  <a  class="ni ni-fat-add" >Quiz</a>
                </div>
              </div>
            </p-accordionTab>
            <p-accordionTab header="Week 3">
              <div class="row">
                <div class="col-md-12">
                  <a routerLink="/upload-materi" class="ni ni-fat-add" [queryParams]="{ day:1, week:3 }">Day 1</a>
                </div>
                <div class="col-md-12">
                  <a routerLink="/upload-materi" class="ni ni-fat-add" [queryParams]="{ day:2, week:3 }">Day 2</a>
                </div>
                <div class="col-md-12">
                  <a routerLink="/upload-materi" class="ni ni-fat-add" [queryParams]="{ day:3, week:3 }">Day 3</a>
                </div>
                <div class="col-md-12">
                  <a routerLink="/upload-materi" class="ni ni-fat-add" [queryParams]="{ day:4, week:3 }">Day 4</a>
                </div>
                <div class="col-md-12">
                  <a routerLink="/upload-materi" class="ni ni-fat-add" [queryParams]="{ day:5, week:3 }">Day 5</a>
                </div>
                <div class="col-md-12">
                  <a  class="ni ni-fat-add" >Quiz</a>
                </div>
              </div>
            </p-accordionTab>
            <p-accordionTab header="Week 4">
              <div class="row">
                <div class="col-md-12">
                  <a routerLink="/upload-materi" class="ni ni-fat-add" [queryParams]="{ day:1, week:4 }">Day 1</a>
                </div>
                <div class="col-md-12">
                  <a routerLink="/upload-materi" class="ni ni-fat-add" [queryParams]="{ day:2, week:4 }">Day 2</a>
                </div>
                <div class="col-md-12">
                  <a routerLink="/upload-materi" class="ni ni-fat-add" [queryParams]="{ day:3, week:4 }">Day 3</a>
                </div>
                <div class="col-md-12">
                  <a routerLink="/upload-materi" class="ni ni-fat-add" [queryParams]="{ day:4, week:4 }">Day 4</a>
                </div>
                <div class="col-md-12">
                  <a routerLink="/upload-materi" class="ni ni-fat-add" [queryParams]="{ day:5, week:4 }">Day 5</a>
                </div>
                <div class="col-md-12">
                  <a  class="ni ni-fat-add" >Quiz</a>
                </div>
              </div>
            </p-accordionTab>
          </p-accordion>
        </div>
      </div>
    </div>
  </div>
  