<!-- <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog> -->
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-lawen opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="row align-items-center">
        <div class="col-12">
          <h1 class="display-1" style="color: white;">List Pengajar</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-12">
              
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="card shadow">
            <div class="pl-lg-12">
              <div class="row">
                <div class="col">
                    <div class="col s12 m12 l12">
                      <div class=" dataTables_wrapper "> 
                        <!-- <div class="card-header border-0">
                          <h3 class="mb-0">Data Pengajar</h3>
                        </div> -->
                        <div class="table-responsive">
                          <table class="row-border hover dataTable no-footer">
                            <thead>
                              <tr style="color: white;" class="bg-gradient-primary">
                                <th scope="col">Nama</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let pengajar of dataPengajar">
                                <td>{{ pengajar.name }}</td>
                                <td class="text-center">
                                  <button type="button" class="btn btn-primary" (click)="getInfo(pengajar.id)">Info</button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                  </div>
                </div>
        </div>
      </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
