<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-lawen opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="row align-items-center">
        <div class="col-12">
          <h1 class="display-1" style="color: white;">My Course</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <!-- <div class="card bg-secondary shadow"> -->
        <div class="row">
          <div class="col-xl-4 col-lg-6" *ngFor="let cat of dataCategory">
            <div class="card card-stats bg-white shadow mb-6 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span class="h2 font-weight-bold mb-0"><a routerLink='/jadwal-peserta' [queryParams]="{ id:cat.class_id, title:cat.materi, sdate:cat.start_date, edate:cat.end_date, jam:cat.time }" >{{ cat.materi }} | {{ cat.name }} <br> {{cat.time}}</a></span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-lawen text-white rounded-circle shadow">
                      <i class="ni ni-tag"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
        </div>
    </div>
  <!-- </div> -->
  </div>
</div>
</div>