<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid">
    <!-- Table -->
    <div class="row">
      <div class="col s12 m9 l12">
        <div class=" dataTables_wrapper "> 
          <div class="card-header border-0 shadow">
            <h3 class="mb-0">Data Pengajar</h3>
          </div>
          <div style="float: right;">
            <br>
            <div class="sejajar">
              <p-calendar [(ngModel)]="jadwal.tgl1" placeholder="Tanggal Mulai" [ngModelOptions]="{standalone: true}" dateFormat="dd-mm-yy"></p-calendar>
                <!-- <input class="form-control form-control-alternative" type="date" placeholder="Tanggal Mulai" [ngModelOptions]="{standalone: true}" [(ngModel)]="jadwal.tgl1" required pattern="\d{2}-\d{2}-\d{4}"> -->
            </div>
            <div class="sejajar">
              <p-calendar [(ngModel)]="jadwal.tgl2" placeholder="Tanggal Mulai" [ngModelOptions]="{standalone: true}" dateFormat="dd-mm-yy"></p-calendar>
                <!-- <input class="form-control form-control-alternative" type="date" placeholder="Tanggal Selesai" [ngModelOptions]="{standalone: true}" [(ngModel)]="jadwal.tgl2" required pattern="\d{2}-\d{2}-\d{4}"> -->
            </div>
            <div class="sejajar">
              <p-button icon="pi pi-search" (click)="getReportJadwal()"></p-button>
                &nbsp;
                <p-button icon="pi pi-refresh" (click)="getReportAllJadwal()"></p-button>
            </div>
          </div>
          <div class="table-responsive">
            <table class="row-border hover dataTable no-footer">
              <thead>
                <tr style="color: white; text-align: center;" class="bg-gradient-primary " >
                  <th scope="col">Materi</th>
                  <th scope="col">Kelas</th>
                  <th scope="col">Pengajar</th>
                  <th scope="col">Waktu</th>
                  <th scope="col">Tanggal Mulai</th>
                  <th scope="col">Tanggal Selesai</th>
                  <!-- <th scope="col"></th> -->
                </tr>
              </thead>
              <tbody *ngFor="let data of reportAll">
                <tr style="text-align: center;">
                  <td>{{ data.materi }}</td>
                  <td>{{ data.kelas }}</td>
                  <td>{{ data.pengajar }}</td>
                  <td>{{ data.jam }}</td>
                  <td>{{ data.startdate | date : 'dd-MM-yyyy' }}</td>
                  <td>{{ data.enddate | date : 'dd-MM-yyyy' }}</td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>
  </div>
  </div>
  