<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row">
      <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <p-tabView>
          <p-tabPanel header="Jadwal" leftIcon="pi pi-calendar">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-12">
              <h3 class="mb-0">Info Jadwal</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h2 class="heading-large text-muted mb-4">Ujian</h2>
                <div class="pl-lg-4" *ngFor="let ujian of dataKuis">
                  <div class="row" *ngIf="ujian.type === 'UJIAN'">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <h5 class="heading-large">Tanggal Mulai : {{ ujian.startdate | date : 'dd-MM-yyyy'}}</h5>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <h5 class="heading-large">Waktu Mulai : {{ ujian.start_time }}</h5>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <h5 class="heading-large">Waktu Selesai : {{ ujian.end_time }}</h5>
                      </div>
                    </div>
                  </div>
                  </div>
            <hr class="my-4">
            <div>
            <h2 class="heading-large text-muted mb-4">Senin</h2>
            <div class="pl-lg-4" *ngFor="let top of jadwal">
              <div class="row" *ngIf="top.day === 'MONDAY'">
                <div class="col-lg-4">
                  <div class="form-group">
                    <h5 class="heading-large">Tanggal : {{ top.date | date : 'dd-MM-yyyy'}}</h5>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <h5 class="heading-large">Topic : {{ top.topic }}</h5>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <h5 class="heading-large">Waktu : {{ top.time }}</h5>
                  </div>
                </div>
              </div>
            </div>
            <h2 class="heading-large text-muted mb-4">Quiz</h2>
              <div class="pl-lg-4" *ngFor="let kuis of dataKuis">
                <div class="row" *ngIf="kuis.day === 'MONDAY' && kuis.type === 'TUGAS'">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <h5 class="heading-large">Tanggal Mulai : {{ kuis.startdate | date : 'dd-MM-yyyy'}}</h5>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <h5 class="heading-large">Tanggal Selesai : {{ kuis.enddate }}</h5>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <h5 class="heading-large">Waktu Mulai : {{ kuis.start_time }}</h5>
                    </div>
                  </div>
                </div>
                </div>
          </div>
            <hr class="my-4" />
            <div>
            <h2 class="heading-large text-muted mb-4">Selasa</h2>
            <div class="pl-lg-4" *ngFor="let top of jadwal">
              <div class="row" *ngIf="top.day === 'TUESDAY'">
                <div class="col-lg-4">
                  <div class="form-group">
                    <h5 class="heading-large">Tanggal : {{ top.date | date : 'dd-MM-yyyy'}}</h5>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <h5 class="heading-large">Topic : {{ top.topic }}</h5>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <h5 class="heading-large">Waktu : {{ top.time }}</h5>
                  </div>
                </div>
              </div>
            </div>
            <h2 class="heading-large text-muted mb-4">Quiz</h2>
              <div class="pl-lg-4" *ngFor="let kuis of dataKuis">
                <div class="row" *ngIf="kuis.day === 'TUESDAY' && kuis.type === 'TUGAS'">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <h5 class="heading-large">Tanggal Mulai : {{ kuis.startdate | date : 'dd-MM-yyyy'}}</h5>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <h5 class="heading-large">Tanggal Selesai : {{ kuis.enddate }}</h5>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <h5 class="heading-large">Waktu Mulai : {{ kuis.start_time }}</h5>
                    </div>
                  </div>
                </div>
                </div>
          </div>
            <hr class="my-4" /> 
            <div>             
            <h2 class="heading-large text-muted mb-4">Rabu</h2>
            <div class="pl-lg-4" *ngFor="let top of jadwal">
              <div class="row" *ngIf="top.day === 'WEDNESDAY'">
                <div class="col-lg-4">
                  <div class="form-group">
                    <h5 class="heading-large">Tanggal : {{ top.date | date : 'dd-MM-yyyy'}}</h5>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <h5 class="heading-large">Topic : {{ top.topic }}</h5>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <h5 class="heading-large">Waktu : {{ top.time }}</h5>
                  </div>
                </div>
              </div>
            </div>
            <h2 class="heading-large text-muted mb-4">Quiz</h2>
              <div class="pl-lg-4" *ngFor="let kuis of dataKuis">
                <div class="row" *ngIf="kuis.day === 'WEDNESDAY' && kuis.type === 'TUGAS'">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <h5 class="heading-large">Tanggal Mulai : {{ kuis.startdate | date : 'dd-MM-yyyy'}}</h5>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <h5 class="heading-large">Tanggal Selesai : {{ kuis.enddate }}</h5>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <h5 class="heading-large">Waktu Mulai : {{ kuis.start_time }}</h5>
                    </div>
                  </div>
                </div>
                </div>
          </div>
            <hr class="my-4" />
            <div>              
            <h2 class="heading-large text-muted mb-4">Kamis</h2>
            <div class="pl-lg-4" *ngFor="let top of jadwal">
              <div class="row" *ngIf="top.day === 'THURSDAY'">
                <div class="col-lg-4">
                  <div class="form-group">
                    <h5 class="heading-large">Tanggal : {{ top.date | date : 'dd-MM-yyyy'}}</h5>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <h5 class="heading-large">Topic : {{ top.topic }}</h5>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <h5 class="heading-large">Waktu : {{ top.time }}</h5>
                  </div>
                </div>
              </div>
            </div>
            <h2 class="heading-large text-muted mb-4">Quiz</h2>
              <div class="pl-lg-4" *ngFor="let kuis of dataKuis">
                <div class="row" *ngIf="kuis.day === 'THURSDAY' && kuis.type === 'TUGAS'">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <h5 class="heading-large">Tanggal Mulai : {{ kuis.startdate | date : 'dd-MM-yyyy'}}</h5>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <h5 class="heading-large">Tanggal Selesai : {{ kuis.enddate }}</h5>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <h5 class="heading-large">Waktu Mulai : {{ kuis.start_time }}</h5>
                    </div>
                  </div>
                </div>
                </div>
          </div>
            <hr class="my-4" />
            <div>
            <h2 class="heading-large text-muted mb-4">Jumat</h2>
            <div class="pl-lg-4" *ngFor="let top of jadwal">
              <div class="row" *ngIf="top.day === 'FRIDAY'">
                <div class="col-lg-4">
                  <div class="form-group">
                    <h5 class="heading-large">Tanggal : {{ top.date | date : 'dd-MM-yyyy'}}</h5>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <h5 class="heading-large">Topic : {{ top.topic }}</h5>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <h5 class="heading-large">Waktu : {{ top.time }}</h5>
                  </div>
                </div>
              </div>
            </div>
            <h2 class="heading-large text-muted mb-4">Quiz</h2>
              <div class="pl-lg-4" *ngFor="let kuis of dataKuis">
                <div class="row" *ngIf="kuis.day === 'FRIDAY' && kuis.type === 'TUGAS'">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <h5 class="heading-large">Tanggal Mulai : {{ kuis.startdate | date : 'dd-MM-yyyy'}}</h5>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <h5 class="heading-large">Tanggal Selesai : {{ kuis.enddate }}</h5>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <h5 class="heading-large">Waktu Mulai : {{ kuis.start_time }}</h5>
                    </div>
                  </div>
                </div>
                </div>
            </div>
          </form>
        </div>
        </p-tabPanel>
        <p-tabPanel header="Nilai" leftIcon="pi pi-calendar">
          <div class="container-fluid">
            <!-- Table -->
            <div class="row">
              <div class="col s12 m9 l12">
                <div class=" dataTables_wrapper "> 
                  <div class="card-header border-0">
                    <h3 class="mb-0">Data Nilai Kuis</h3>
                  </div>
                  <div class="table-responsive">
                    <table class="row-border hover dataTable no-footer" datatable [dtOption]="dtOption" [dtTrigger]="dtTrigger" >
                      <thead>
                        <tr style="color: white;" class="bg-gradient-primary">
                          <th scope="col">Tanggal</th>
                          <th scope="col">Judul</th>
                          <th scope="col">Nilai</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let nil of dataScore">
                    <tr>
                      <td>{{ nil.date | date : 'dd-MM-yyyy'}}</td>
                      <td>{{ nil.title }}</td>
                      <td>{{ nil.score }}</td>
                    </tr>
                      </tbody>
                    </table>
              </div>
            </div>
          </div>
          </div>
          </div>
          <hr class="my-4">
          <div class="container-fluid">
            <!-- Table -->
            <div class="row">
              <div class="col s12 m9 l12">
                <div class=" dataTables_wrapper "> 
                  <div class="card-header border-0">
                    <h3 class="mb-0">Data Nilai Ujian</h3>
                  </div>
                  <div class="table-responsive">
                    <table class="row-border hover dataTable no-footer" datatable [dtOption]="dtOption" [dtTrigger]="dtTrigger">
                      <thead>
                        <tr style="color: white;" class="bg-gradient-primary">
                          <th scope="col">Tanggal</th>
                          <th scope="col">Judul</th>                          
                          <th scope="col">Nilai</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let nil of dataUjian">
                    <tr>
                      <td>{{ nil.date | date : 'dd-MM-yyyy'}}</td>
                      <td>{{ nil.title }}</td>
                      <td>{{ nil.score }}</td>
                    </tr>
                      </tbody>
                    </table>
              </div>
            </div>
          </div>
          </div>
          </div>
        </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</div>
