<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-lawen opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="row align-items-center">
        <div class="col-12">
          <h1 class="display-1" style="color: white;">List Uploaded</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="card">
          <div class="card-header">
            <h5>Teaching Schedule</h5>
          </div>
          <div class="card-body">    
              <p class="mt-3 mb-0 text-muted text-sm" *ngFor="let data of jadwal">
                &nbsp;&nbsp;
                <span class="text-dark mr-2"><i class="ni ni-calendar-grid-58"></i>&nbsp;{{ data.materi }} | {{ data.kelas }} | {{ data.startdate | date : 'dd-MM-yyyy'}} - {{ data.enddate | date : 'dd-MM-yyyy'}}</span>
              </p>
            </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
        <div class="row">
          <div class="col-xl-4 col-lg-6" *ngFor="let data of dataKelas">
            <div class="card card-stats bg-white mb-4 mb-xl-0 shadow">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span class="h2 font-weight-bold mb-0"><a routerLink='/tables-report' [queryParams]="{ kId:data.kId } " (click)="getSession(data, data.class, data.materi)">{{data.materi}} <br>{{data.class}}</a></span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-lawen text-white rounded-circle shadow">
                      <i class="ni ni-building"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
        </div>
    </div>
  </div>
</div>
</div>