<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
            <!-- <div class="col-md-10">
                <input type="file" class="form-control form-control-alternative" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-default">Upload</button> 
            </div> -->
            <!-- <div class="col-md-4">
                <label>Day</label>
                <input type="text" class="form-control form-control-alternative" id="day" [(ngModel)]="tanggal.day" disabled="">
            </div>
            <div class="col-md-4">
                <label>Week</label>
                <input type="text" class="form-control form-control-alternative" id="week" [(ngModel)]="tanggal.week" disabled="">
            </div>
            <div class="col-md-4">
                <label>End Date</label>
                <input type="date" class="form-control form-control-alternative" id="end" [(ngModel)]="tanggal.endDate">
            </div> -->
            <div class="col-md-6">
                <label>Judul Materi</label>
                <input type="text" class="form-control form-control-alternative" [(ngModel)]="materi.judul_materi">
            </div>
            <div class="col-md-6">
              <label>Pilih Topic</label>
              <input type="text" class="form-control form-control-alternative" [(ngModel)]="materi.topic">
            </div>
            <!-- <div class="col-md-4">
              <label>Pilih Hari</label>
              <p-dropdown class="form-control form-control-alternative" placeholder="Pilih Hari" [options]="hari" [(ngModel)]="setHari" optionLabel="label" [showClear]="true"></p-dropdown>
            </div> -->
            <div class="col-md-6">
              <label>Pilih Materi</label>
              <p-dropdown class="form-control form-control-alternative" placeholder="Pilih Materi" [options]="cities2" [(ngModel)]="selectedCity1" optionLabel="name" [showClear]="true" (ngModelChange)="getKelasList(selectedCity1)"></p-dropdown>
            </div>
            <div class="col-md-6">
              <label>Pilih Kelas</label>
              <p-dropdown class="form-control form-control-alternative" placeholder="Pilih Kelas" [options]="kelas" [(ngModel)]="setKelas" optionLabel="nama_kelas" [showClear]="true"></p-dropdown>
            </div>
            <div class="col-md-6">
              <label>Pilih Tanggal</label>
              <input type="date" class="form-control form-control-alternative" [(ngModel)]="materi.tanggal"  required pattern="\d{2}-\d{2}-\d{4}">
            </div>
            <div class="col-md-6">
              <label>Pilih Waktu</label>
              <input type="time" class="form-control form-control-alternative" [(ngModel)]="materi.jam">
            </div>
            <div class="col-md-12">
                <label>File</label> 
                <input type="file" class="form-control form-control-alternative" id="upload" (change)="selectFile($event)" [(ngModel)]="materi.file">
            </div>
            <div class="col-md-12">
            <br>
            <button type="button" class="btn btn-default" (click)="upload()">Upload</button>
            </div>
            <!-- <div class="row" [hidden]="!isupdated"> -->
            <div class="col-sm-12" [hidden]="!isupdated">  
                    <div class="alert alert-info alert-dismissible">
                      <p-messages [(value)]="msgs"></p-messages>  
                            <!-- <button type="button" class="close" data-dismiss="alert">×</button>  
                            <strong>Berhasil Upload</strong>   -->
                            <!-- <strong>{{ message }}</strong> -->
                    </div>  
            </div>  
            <!-- </div> -->
        </div>
      </div>
    </div>
</div>
<!-- Content -->
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">Materi</th>
                          <th scope="col">End Date</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let file of dataMateri">
                          <td>{{ file.judul_materi }}</td>
                          <td>{{ file.endDate }}</td>
                          <td>
                            <button class="btn btn-primary" type="button" (click)="gets(file)">Actived</button>
                            <button class="btn btn-primary" type="button" (click)="gets(file)">Deactived</button>
                            <button class="btn btn-primary" type="button" (click)="gets(file)">Download</button>
                            <button class="btn btn-primary" type="button" (click)="deleteFile(file.id)">Delete</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
