<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        
      </div>
    </div>
  </div>

<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h1 class="mb-0">Category | Nama Pengajar</h1>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form>
              <h2 class="heading-large text-muted mb-4">Ujian</h2>
                  <div class="pl-lg-4" *ngFor="let ujian of ujians">
                    <div class="row">
                      <div class="col-lg-3">
                        <div class="form-group">
                          <h5 class="heading-large">{{ ujian.jenis }}</h5>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <h5 class="heading-large">Start : {{ ujian.start_time }}</h5>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <h5 class="heading-large">End : {{ ujian.end_time }}</h5>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                            <button class="btn btn-primary btn-sm" type="button">
                                <span class="btn-inner--icon"><i class="ni ni-books"></i></span>
                                <span class="btn-inner--text" (click)="getUjian(ujian.header_soal_id)">Materi</span>
                              </button>
                        </div>
                     </div>
                    </div>
                    </div>
              <hr class="my-4">
              <div>
              <h2 class="heading-large text-muted mb-4">Senin</h2>
              <div class="pl-lg-4" *ngFor="let top of topics">
                <div class="row" *ngIf="top.hari === 'MONDAY'">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <h5 class="heading-large">TOPIC : {{ top.topic }}</h5>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <h5 class="heading-large">Waktu : {{ top.waktu }}</h5>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                        <button class="btn btn-primary btn-sm" type="button">
                            <span class="btn-inner--icon"><i class="ni ni-books"></i></span>
                            <span class="btn-inner--text" (click)="getMateri(top.headerid)">Materi</span>
                          </button>
                    </div>
                  </div>
                </div>
              </div>
              <h2 class="heading-large text-muted mb-4">Quiz</h2>
                <div class="pl-lg-4" *ngFor="let kuis of quizs">
                  <div class="row" *ngIf="kuis.day === 'MONDAY'">
                    <div class="col-lg-3">
                      <div class="form-group">
                        <h5 class="heading-large">TOPIC : {{ kuis.jenis }}</h5>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <h5 class="heading-large">End : {{ kuis.end_date }}</h5>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <h5 class="heading-large">Waktu : {{ kuis.jam }}</h5>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                          <button class="btn btn-primary btn-sm" type="button">
                              <span class="btn-inner--icon"><i class="ni ni-books"></i></span>
                              <span class="btn-inner--text" (click)="getSoal(kuis.header_soal_id)">Materi</span>
                            </button>
                      </div>
                   </div>
                  </div>
                  </div>
            </div>
              <hr class="my-4" />
              <div>
              <h2 class="heading-large text-muted mb-4">Selasa</h2>
              <div class="pl-lg-4" *ngFor="let top of topics">
                <div class="row" *ngIf="top.hari === 'TUESDAY'">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <h5 class="heading-large">TOPIC : {{ top.topic }}</h5>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <h5 class="heading-large">Waktu : {{ top.waktu }}</h5>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                        <button class="btn btn-primary btn-sm" type="button">
                            <span class="btn-inner--icon"><i class="ni ni-books"></i></span>
                            <span class="btn-inner--text" (click)="getMateri(top.headerid)">Materi</span>
                          </button>
                    </div>
                 </div>
                </div>
                </div>
                <h2 class="heading-large text-muted mb-4">Quiz</h2>
                <div class="pl-lg-4" *ngFor="let kuis of quizs">
                  <div class="row" *ngIf="kuis.day === 'TUESDAY'">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <h5 class="heading-large">TOPIC : {{ kuis.jenis }}</h5>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <h5 class="heading-large">Waktu : {{ kuis.jam }}</h5>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                          <button class="btn btn-primary btn-sm" type="button">
                              <span class="btn-inner--icon"><i class="ni ni-books"></i></span>
                              <span class="btn-inner--text" (click)="getSoal(kuis.header_soal_id)">Materi</span>
                            </button>
                      </div>
                   </div>
                  </div>
                  </div>
              </div>
              <hr class="my-4" /> 
              <div>             
              <h2 class="heading-large text-muted mb-4">Rabu</h2>
              <div class="pl-lg-4" *ngFor="let top of topics">
                <div class="row" *ngIf="top.hari === 'WEDNESDAY'">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <h5 class="heading-large">TOPIC : {{ top.topic }}</h5>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <h5 class="heading-large">Waktu : {{ top.waktu }}</h5>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                        <button class="btn btn-primary btn-sm" type="button">
                            <span class="btn-inner--icon"><i class="ni ni-books"></i></span>
                            <span class="btn-inner--text" (click)="getMateri(top.headerid)">Materi</span>
                          </button>
                    </div>
                 </div>
                </div>
              </div>
              <h2 class="heading-large text-muted mb-4">Quiz</h2>
              <div class="pl-lg-4" *ngFor="let kuis of quizs">
                <div class="row" *ngIf="kuis.day === 'WEDNESDAY'">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <h5 class="heading-large">TOPIC : {{ kuis.jenis }}</h5> 
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <h5 class="heading-large">Waktu : {{ kuis.jam }}</h5>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                        <button class="btn btn-primary btn-sm" type="button">
                            <span class="btn-inner--icon"><i class="ni ni-books"></i></span>
                            <span class="btn-inner--text" (click)="getSoal(kuis.header_soal_id)">Materi</span>
                          </button>
                    </div>
                 </div>
                </div>
                </div>
                </div>
              <hr class="my-4" />
              <div>              
              <h2 class="heading-large text-muted mb-4">Kamis</h2>
              <div class="pl-lg-4" *ngFor="let top of topics">
                <div class="row" *ngIf="top.hari === 'THURSDAY'">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <h5 class="heading-large">TOPIC : {{ top.topic }}</h5>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <h5 class="heading-large">Waktu : {{ top.waktu }}</h5>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                        <button class="btn btn-primary btn-sm" type="button">
                            <span class="btn-inner--icon"><i class="ni ni-books"></i></span>
                            <span class="btn-inner--text" (click)="getMateri(top.headerid)">Materi</span>
                          </button>
                    </div>
                  </div>
                </div>
              </div>
              <h2 class="heading-large text-muted mb-4">Quiz</h2>
                <div class="pl-lg-4" *ngFor="let kuis of quizs">
                  <div class="row" *ngIf="kuis.day === 'THURSDAY'">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <h5 class="heading-large">TOPIC : {{ kuis.jenis }}</h5>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <h5 class="heading-large">Waktu : {{ kuis.jam }}</h5>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                          <button class="btn btn-primary btn-sm" type="button">
                              <span class="btn-inner--icon"><i class="ni ni-books"></i></span>
                              <span class="btn-inner--text" (click)="getSoal(kuis.header_soal_id)">Materi</span>
                            </button>
                      </div>
                   </div>
                  </div>
                  </div>
              </div>
              <hr class="my-4" />
              <div>
              <h2 class="heading-large text-muted mb-4">Jumat</h2>
              <div class="pl-lg-4" *ngFor="let top of topics">
                <div class="row" *ngIf="top.hari === 'SUNDAY'">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <h5 class="heading-large">TOPIC : {{ top.topic }}</h5>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <h5 class="heading-large">Waktu : {{ top.waktu }}</h5>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                        <button class="btn btn-primary btn-sm" type="button">
                            <span class="btn-inner--icon"><i class="ni ni-books"></i></span>
                            <span class="btn-inner--text" (click)="getMateri(top.headerid)">Materi</span>
                          </button>
                    </div>
                 </div>
                </div>
              </div>
              <h2 class="heading-large text-muted mb-4">Quiz</h2>
                <div class="pl-lg-4" *ngFor="let kuis of quizs">
                  <div class="row" *ngIf="kuis.day === 'SUNDAY'">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <h5 class="heading-large">TOPIC : {{ kuis.jenis }}</h5>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <h5 class="heading-large">Waktu : {{ kuis.jam }}</h5>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                          <button class="btn btn-primary btn-sm" type="button">
                              <span class="btn-inner--icon"><i class="ni ni-books"></i></span>
                              <span class="btn-inner--text" (click)="getSoal(kuis.header_soal_id)">Materi</span>
                            </button>
                      </div>
                   </div>
                  </div>
                  </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
