<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-lawen opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="row align-items-center">
        <div class="col-12">
          <h1 class="display-1" style="color: white;">List File {{nama}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-12">
              <button class="btn btn-icon btn-3 btn-primary" type="button" (click)="getBack()">
                <span class="btn-inner--icon"><i class="ni ni-bold-left"></i></span>
                <span class="btn-inner--text">Kembali</span>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body bg-card" #target #update>
            <div class="pl-lg-12">
              <div class="row">
                <!-- <div class="col"> -->
                <p-tabView>
                  <p-tabPanel header="Input Score" leftIcon="ni ni-archive-2 text-dark">
                        <form>
                          <div class="pl-lg-4">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="form-control-label" for="input-address">Jenis</label>
                                  <input id="input-address" class="form-control form-control-alternative" placeholder="Jenis" type="text" [(ngModel)]="dataNilai.jenis" [ngModelOptions]="{standalone: true}" [disabled]="true">
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="form-control-label" for="input-address">Judul</label>
                                  <input id="input-address" class="form-control form-control-alternative" placeholder="Judul" type="text" [(ngModel)]="dataNilai.title" [ngModelOptions]="{standalone: true}" [disabled]="true">
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="form-control-label" for="input-address">Nilai Utama</label>
                                  <input id="input-address" class="form-control form-control-alternative" placeholder="Nilai Utama" type="number" [(ngModel)]="dataNilai.nilaiUtama" [ngModelOptions]="{standalone: true}" [disabled]="exampleFlag">
                                </div>
                              </div>
                              <div class="col-md-6"> 
                                <div class="form-group">
                                  <label class="form-control-label" for="input-address">Nilai Kehadiran</label>
                                  <input id="input-address" class="form-control form-control-alternative" placeholder="Nilai Kehadiran" type="number" [(ngModel)]="dataNilai.nilaiKehadiran" [ngModelOptions]="{standalone: true}" [disabled]="exampleFlag">
                                </div>
                              </div>
                              <div class="col-md-12">
                                <div class="form-group">
                                  <button type="button" class="btn btn-primary" (click)="updateNilai(dataNilai)">Submit Nilai</button>
                                </div>
                              </div>
                              <div *ngIf="bar" class="col-md-12">
                                <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
                              </div>
                              <div class="col-sm-12" [hidden]="!isupdated">  
                                <p-messages [(value)]="msgs"></p-messages>  
                              </div> 
                            </div> 
                          </div>
                          <!-- List Upload -->
                          <br>
                          <hr class="my-4" />
                          <h6 class="heading-small text-muted mb-4">List Upload</h6>
                            <div class="pl-lg-4">
                              <div class="row">
                                <div *ngIf="!spinner2 ; else showSpinner" class="table-responsive">
                                  <table  class="row-border hover dataTable no-footer" datatable [dtOption]="dtOption" [dtTrigger]="dtTrigger">
                                    <thead>
                                      <tr style="color: black;" class="bg-th">
                                        <th scope="col">Hari</th>
                                        <th scope="col">Jenis</th>
                                        <th scope="col">Judul</th>
                                        <th scope="col">Tanggal</th>
                                        <th scope="col"></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let data of details">
                                        <td>{{ data.day }}</td>
                                        <td>{{ data.type }}</td>
                                        <td>{{ data.title }}</td>
                                        <td>{{ data.question_date | date : 'dd-MM-yyyy'}}</td>
                                        <td class="text-center">
                                          <p-splitButton label="Download" icon="pi pi-download" (onClick)="downloadFileUser(data)" [model]="getMenu(data, target)"></p-splitButton>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <div *ngIf="spinner">
                                    <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
                                  </div>
                                </div>
                                <ng-template #showSpinner>
                                  <div class="text-center">
                                  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
                                </div>
                                </ng-template>
                              </div>
                            </div>
                        </form>
                  </p-tabPanel>
                  <p-tabPanel header="Update" leftIcon="pi pi-refresh">
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Jenis</label>
                    <input id="input-address" class="form-control form-control-alternative" placeholder="Jenis" type="text" [(ngModel)]="dataKuis.jenis" [ngModelOptions]="{standalone: true}" [disabled]="true">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Judul</label>
                    <input id="input-address" class="form-control form-control-alternative" placeholder="Judul" type="text" [(ngModel)]="dataKuis.title" [ngModelOptions]="{standalone: true}" [disabled]="true">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Nilai Utama</label>
                    <input id="input-address" class="form-control form-control-alternative" placeholder="Nilai Utama" type="number" [(ngModel)]="dataKuis.nilaiUtama" [ngModelOptions]="{standalone: true} " [disabled]="exampleFlag2">
                  </div>
                </div>
                <div class="col-md-6"> 
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Nilai Kehadiran</label>
                    <input id="input-address" class="form-control form-control-alternative" placeholder="Nilai Kehadiran" type="number" [(ngModel)]="dataKuis.nilaiKehadiran" [ngModelOptions]="{standalone: true}" [disabled]="exampleFlag2">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <button type="button" class="btn btn-primary" (click)="setUpdateKuis(dataKuis)">Submit Nilai</button>
                  </div>
                  <div *ngIf="bar2" class="col-md-12">
                    <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
                  </div>
                </div>
                <div class="col-sm-12" [hidden]="!isupdate">  
                  <p-messages [(value)]="msgs"></p-messages>  
                </div>
              </div>
            </div>
            <br>
            <hr>
              <div *ngIf="!spinner2 ; else showSpinner" class="table-responsive">
                <table class="row-border hover dataTable no-footer" datatable [dtOption]="dtOption" [dtTrigger]="dtTrigger">
                  <thead>
                    <tr style="color: black;" class="bg-th">
                      <th scope="col">Tanggal</th>
                      <th scope="col">Judul</th>
                      <th scope="col">Nilai</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let nil of dataScore">
                      <td>{{ nil.date | date : 'dd-MM-yyyy'}}</td>
                      <td>{{ nil.title }}</td>
                      <td>{{ nil.score }}</td>
                      <td>
                        <p-splitButton label="Update" icon="pi pi-refresh" (onClick)="getUpdateKuis(nil, update); globalClick(2)" [model]="getMenuTugas(nil)"></p-splitButton>
                      </td>
                    </tr>
                  </tbody>
                </table>
          </div>
          <ng-template #showSpinner>
            <div class="text-center">
            <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
          </div>
          </ng-template>
      <hr class="my-4">
          <div class="card-header border-0">
            <h3 class="mb-0">Data Nilai Ujian</h3>
          </div>
          <div *ngIf="!spinner2 ; else showSpinner" class="table-responsive">
            <table class="row-border hover dataTable no-footer" datatable [dtOption]="dtOption" [dtTrigger]="dtTrigger">
              <thead>
                <tr style="color: black;" class="bg-th">
                  <th scope="col">Tanggal</th>
                  <th scope="col">Judul</th>
                  <th scope="col">Nilai</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let uji of dataUjian">
                  <td>{{ uji.date | date : 'dd-MM-yyyy'}}</td>
                  <td>{{ uji.title }}</td>
                  <td>{{ uji.score }}</td>
                  <td>
                    <p-splitButton label="Update" icon="pi pi-refresh" (onClick)="getUpdateUJian(uji, update); globalClick(2)" [model]="getMenuUjian(uji)"></p-splitButton>
                    
                  </td>
                </tr>
              </tbody>
            </table>
      </div>
      <ng-template #showSpinner>
        <div class="text-center">
        <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
      </div>
      </ng-template>
                    </p-tabPanel>
                  </p-tabView> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
