<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
        </div>
      </div>
    </div>
  </div>
    <div class="container-fluid mt--7">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
            <!-- <div class="col-md-10">
                <input type="file" class="form-control form-control-alternative" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-default">Upload</button> 
            </div> -->
            <div class="col-md-12">
                <label>Nama</label>
                <input type="text" class="form-control form-control-alternative" disabled="">
            </div>
            <div class="col-md-12">
                <label>Week 1</label>
                <input type="number" class="form-control form-control-alternative">
            </div>
            <div class="col-md-12">
                <label>Week 2</label>
                <input type="number" class="form-control form-control-alternative">
            </div>
            <div class="col-md-12">
                <label>Week 3</label>
                <input type="number" class="form-control form-control-alternative">
            </div>
            <div class="col-md-12">
                <label>Week 4</label>
                <input type="number" class="form-control form-control-alternative">
            </div>
            <!-- <div class="col-md-6">
                <label>Judul Materi</label>
                <input type="text" class="form-control form-control-alternative" id="judul" >
            </div> -->
            <div class="col-md-12">
                <label>File</label>
                <input type="file" class="form-control form-control-alternative" id="upload">
            </div>
            <div class="col-md-12">
            <br>
            <button type="button" class="btn btn-default">Upload</button>
            </div> 
        </div>
      </div>
    </div>
